$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path: "../bower_components/font-awesome/fonts";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "font-awesome/scss/font-awesome.scss";
// endbower
@import "compass/css3";
 
@include font-face("NYC1970", font-files("ChaletNewYorkNineteenSeventy.ttf"));
 
// globals
  * {
    font-family: "NYC1970";
  }
  // body {
  //   position: absolute;
  //   height:100%;width:100%;
  //   padding:0;margin:0;
  //   overflow-y: hidden;
  // }
  // a {
  //   color: dodgerblue;
  //   text-decoration: none !important;
  //   &:hover {
  //     color: beige;
  //   }
  // }
  // hr {
  //   border-top-color: dodgerblue;
  //   width: 70%;
  // }



// primary navbar header
nav.navbar-default {
  position: fixed;
  left:0;right:0;
  z-index: 1000;
  background: transparent !important;
  border: none;
  border-radius:0;
  margin-bottom: 0 !important;
  #WorkingTitle {
    font-size: 96px;
    // text-shadow: 2px 2px 2px rgba(233,11,111,0.5);
  }
  #PenName {
    font-size:48px;
    // text-shadow: 2px 2px 2px rgba(233,11,111,0.5);
  }
  .navbar-collapse {
    background: transparent !important;
    border-bottom: none;
  }
}

#MainContentWrap {
  position: inherit;
  opacity: 0.5;
  bottom: 75px;
  right: 0;
  top: 0;
  left: 0;
  overflow-y: hidden !important;
  overflow-x: scroll !important;
  z-index: 1;
  background: powderblue;
  #RadioactiveFlowers {
    position:absolute;
    background: url(/images/nuclearFlowers.png);
    opacity: 0.467;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: black;
    // background-attachment:fixed;
  }
}

footer {
  position:fixed;
  left:0;right:0;bottom:0;
  height: 75px;
  background: white;
  z-index:100;
  #TickerTape {
    position: relative;
  }
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {}
