$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path: "../bower_components/font-awesome/fonts";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "font-awesome/scss/font-awesome.scss";
// endbower
@import "compass/css3";
 
@include font-face("NYC1970", font-files("ChaletNewYorkNineteenSeventy.ttf"));
@include font-face("London1960", font-files("ChaletLondonNineteenSixty.ttf"));
 
// globals
* {
  font-family: "London1960";
}

a:hover{text-decoration: none;}

// primary navbar header
nav.navbar-default {
  position: fixed;
  left:0;right:0;
  z-index: 1000;
  background: transparent !important;
  border: none;
  border-radius:0;
  margin-bottom: 0 !important;
  span {
    font-family:'NYC1970';
    font-size:88px;
    color:white;
    background: #d9534f;
  }
}

// main content 
#MainContentWrap {
  background: aquamarine;
  position:fixed;
  height: 100%;
  width:100%;
  #RadioactiveFlowers {
    position:fixed;
    background: url(/images/nuclearFlowers.png);
    opacity: 0.4;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    background-size: 62%;
  }
  #NycSkyline {
    position: fixed;
    top:8%;left:0;right:0;bottom:0;
    background: url(/images/skyline.png);
    background-size:cover;
    background-position-x:100%;
    z-index:1;
    opacity:0.4;
  }
  footer {
    position:fixed;
    left:0;right:0;bottom:0;
    z-index:100;
    overflow-x: scroll !important;
    #TickerTape {
      position: relative;
      display: inline-flex;
      .panel {
        width: 500px;
        height: 150px;
        margin: 2px;
        &:hover{
          .panel-heading{
            background: #d9534f;
            color: white;
          }
        }
        .panel-heading {
          padding:8px;
          .panel-title {
            font-size:18px;
            font-weight: bolder;
          }
        }
        .panel-body {
          padding:4px 8px;
          .panel-description {
            font-size:16px;
            color:black;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
          }
        }
      }
    }
  }
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {}
