<div ng-controller="LoginCtrl">
	<div id="LoginContainer" class="container">
		<div class="row text-center">
			<div class="col-lg-6 col-lg-offset-3">
			  <form class="form-signin">       
			  	<h2 class="form-signin-heading">
			  		<i class="fa fa-key"></i>
			  	</h2>
			    <input type="text" class="form-control" name="username" placeholder="Email Address" required="" autofocus="" />
			    <input type="password" class="form-control" name="password" placeholder="Password" required=""/>      
			    <label class="checkbox">
			      <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
			    </label>
			    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>   
			  </form>
			</div>
		</div>
	</div>
</div>