a:hover{text-decoration:none !important;}

@import "__fonts.scss";
@import "__mixins.scss";
@import "__variables.scss";

@import "base/header.scss";
@import "pages/auth.scss";

#RadioactiveFlowers {
  position:fixed;
  background: url(/images/nuclearFlowers.png);
  opacity: 0.4;
  top: 0;
  bottom:0;
  left: 0;
  right: 0;
  background-size: 62%;
}

#NycSkyline {
  position: fixed;
  top:8%;left:0;right:0;bottom:0;
  background: url(/images/skyline.png);
  background-size:cover;
  background-position-x:100%;
  z-index:1;
  opacity:0.4;
}

#NewsTicker {
  position:fixed;
  left:0;right:0;bottom:0;
  z-index:100;
  height:220px; 
  overflow-x: scroll !important;
  display: inline-flex;
  .panel {
    width: 500px;
    height: 100%;
    margin: 2px;
    &:hover{
      .panel-heading{
        background: $primaryRed;
        color: white;
      }
    }
    .panel-heading {
      min-height: 50px;
      padding:8px;
      .panel-title {
        font-size:18px;
        font-weight: bolder;
      }
    }
    .panel-body {
      padding:4px 8px;
      .panel-description {
        font-size:16px;
        color:black;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5;
      }
    }
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {}
