<div id="RadioactiveFlowers"></div>
<div id="NycSkyline">
  <footer>
    <ul id="TickerTape" class="list-unstyled">
      <li ng-repeat="post in posts">
        <a ng-href="{{post.url}}">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h1 class="panel-title">{{ post.title }}</h1>
            </div>
            <div class="panel-body">
              <p class="panel-description">{{ post.description }}</p>
            </div>
          </div>
        </a> 
      </li>
    </ul>
  </footer>
</div>


